.headerPage
  text-align: left
  height: 100vh
  font-family: 'Roboto Condensed', sans-serif
  position: relative
  

  h1
    font-size: 72px
    text-shadow: .5px .5px .5px rgba(0, 0, 0, 0.4);

  h3
    font-size: 42px
    font-family: 'Libre Franklin', sans-serif
    
    
    

  h1, h3
    margin: 0

  h1 + h1
    margin-top: -0.5rem

  .buttonContainer
    display: flex
    position: absolute
    left: -11px
    margin-top: 1.5rem

    button
      background-color: #000
      color: #fff
      border: none
      padding: .4rem 2.6rem
      margin: 0 0.9rem
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      font-family: 'Libre Franklin', sans-serif;
      cursor: pointer
      transition: background-color 0.3s, color 0.3s
      border-radius: .1rem

      &:hover
        background-color: #333

.headerContent
  position: absolute
  
  top: 350px
  left: 100px

.headerPage.dark
  color: #fff

.headerPage.dark button
  background-color: #fff
  color: #000

  &:hover
    background-color: #ccc
