.carousel-wrapper
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100%
  border-radius: 10px;
  
  .custom-carousel
    width: 50%

.carousel-slide
  position: relative
  

  img
    width: 100%
    height: auto

  .overlay
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    color: white
    padding: 1rem
    box-sizing: border-box
    transition: opacity 0.3s
    

    .tech-icons
      display: flex
      flex-direction: column
      align-items: flex-end
      font-size: 2rem
      position: absolute
      top: 2.5rem
      right: 4rem
      
      span:hover
        transform: scale(1.1)

    .description
      width: 50%
      display: inline-block
      margin-top: 1rem
      font-size: 1.4rem
      margin-top: 150px
      
      word-wrap: break-word

    .title
      position: absolute
      bottom: 1rem
      left: 4rem
      font-size: 1.3rem
      font-weight: bold

  &:hover
    .overlay
      display: block
      transform: translateY(-2px) scale(1.1)

.carousel-indicators
  li
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: black
    border: 1px solid black
    box-shadow: none

  .carousel-indicator-selected
    background-color: black

  
@media only screen and (max-width: 390px)
  .carousel-wrapper
    width: 100%
    height: 100vh
    border-radius: 0px;
    
    .custom-carousel
      width: 100%
      height: 100vh

    .overlay
      .tech-icons
        position: absolute
        top: 2.5rem
        right: 1rem
        font-size: 1.5rem

      .description
        width: 100%
        margin-top: 1rem
        font-size: 1.2rem
        margin-top: 150px

      .title
        position: absolute
        bottom: 1rem
        left: 1rem
        font-size: 1.2rem
        font-weight: bold

  .carousel-slide
    img
      width: 100%
      height: 100vh

    .overlay
      .tech-icons
        position: absolute
        top: 2.5rem
        right: 1rem
        font-size: 1.5rem

      .description
        width: 100%
        margin-top: 1rem
        font-size: 1.2rem
        margin-top: 150px

      .title
        position: absolute
        bottom: 1rem
        left: 1rem
        font-size: 1.2rem
        font-weight: bold

  .carousel-indicators
    li
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: black
      border: 1px solid black
      box-shadow: none

    .carousel-indicator-selected
      background-color: black