.navbar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 40px
  padding-right: 100px
  background-color: transparent
  position: fixed
  top: 50px
  left: 0
  right: 0
  z-index: 1000
  

.leftContainer
  margin-left: auto

.centerContainer h2
  margin: 0

.switch
  position: relative
  display: inline-block
  width: 60px
  height: 34px

.switch input
  opacity: 0
  width: 0
  height: 0

.slider
  position: absolute
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: black
  transition: 0.4s

.slider:before
  position: absolute
  content: ""
  height: 26px
  width: 26px
  left: 4px
  bottom: 4px
  background-color: white
  transition: 0.4s
  
  

input:checked + .slider
  background-color: black

input:checked + .slider:before
  transform: translateX(26px)
  background-color: white

.navbar.dark
  color: #f5f5f5

.navbar.dark .slider
  background-color: white

.navbar.dark input:checked + .slider:before
  background-color: black



.buttonContainer
    display: flex
    position: absolute
    right: 169px
    margin-top: 1.5 rem
  
    button
      background-color: transparent
      color: #000
      border: none
      padding: .57rem 2rem
      margin: 0 0.5rem
      opacity: .8
      font-size: 28px
      font-family: 'Libre Franklin', sans-serif;
      cursor: pointer
      transition: translate 0.7s, scale 0.2s
      border-radius: .1rem

      &:hover
        background-color: transparent
        
        opacity: 1
        transform: translate(0, -5px) scale(1.02)


.navbar.dark button
  background-color: #000
  color: #fff

@media only screen and (max-width: 390px)
  .navbar
    padding: 20px
    padding-right: 50px 
    top: 20px
    left: 0
    right: 0
    z-index: 1000
    display: none
    

  .buttonContainer
    position: relative
    right: 570px
    margin-top: 0
    margin-left: auto

    button
      margin: 0 0.5rem
      padding: .57rem 0rem
      font-size: 18px
      
    
    
 


  