.skillsPage 
  text-align: left
  height: 100vh
  position: relative
  left: 130px
  font-size: 52px
  

  .skillsContent
    position: absolute
    margin-top: 15px
    top: -20px
    font-family: 'Roboto Condensed', sans-serif

  .iconNames
    position: absolute
    top: 180px
    left: 120px
    
    font-family: 'Libre Franklin', sans-serif
    line-height: 1.8
     
    
  
  
  .iconContainer
    position: relative
    top: 200px
    
    
    

    a:hover 
      transform: scale(1.1)
      transition: transform 0.3s
      cursor: pointer
    
    

  .languages
    font-size: 72px
    display: flex
    align-items: flex-end
    top: 325px
    left: 650px
    
    position: absolute

    p
      margin-right: 40px



  .testing
    font-size: 72px
    display: flex
    align-items: flex-end
    top: 155px
    left: 650px
    
    position: absolute

    p
      margin-right: 40px

  .frameworks
    font-size: 72px
    display: flex
    align-items: flex-end
    top: 500px
    left: 650px
    
    position: absolute

    p
      margin-right: 40px

  .databases
    font-size: 72px
    display: flex
    align-items: flex-end
    top: -20px
    left: 650px
    
    position: absolute

    p
      margin-right: 40px

@media only screen and (max-width: 390px)
  .skillsPage
    left: 80px
    font-size: 35px
    padding: 20px
    text-align: center

  .skillsContent
    margin-top: 0px
    position: relative
    
  .iconNames
    position: relative
    top: 30px
    left: 30px

  .languages
    font-size: 52px
    display: flex
    align-items: flex-end
    top: 0px
    left: 0px
    
    position: relative

    p
      margin-right: 40px

  .testing
    font-size: 52px
    display: flex
    align-items: flex-end
    top: 0px
    left: 0px
    
    position: relative

    p
      margin-right: 40px

  .frameworks
    font-size: 52px
    display: flex
    align-items: flex-end
    top: 0px
    left: 0px
    
    position: relative

    p
      margin-right: 40px

  .databases
    font-size: 52px
    display: flex
    align-items: flex-end
    top: 0px
    left: 0px
    
    position: relative

    p
      margin-right: 40px