.skillsPage 
  text-align: left
  height: 100vh
  position: relative
  left: 130px
  font-size: 52px
  

  .skillsContent
    position: absolute
    margin-top: 15px
    top: -20px
    font-family: 'Roboto Condensed', sans-serif

  .skillsText
    position: absolute
    top: 180px
    left: 220px
    
    font-family: 'Libre Franklin', sans-serif
    line-height: 1.8
    
  .iconContainer
    position: relative
    top: 220px
    font-size: 52px
    left: 800px
    line-height: 1.1

    a:hover 
      transform: scale(1.1)
      transition: transform 0.3s
      cursor: pointer
    
    

  .languages
    display: flex
    align-items: flex-end
    p
      margin-right: 40px



  .testing
    display: flex
    align-items: flex-end
    p
      margin-right: 40px

  .frameworks
    display: flex
    align-items: flex-end
    p
      margin-right: 40px

  .databases
    display: flex
    align-items: flex-end
    p
      margin-right: 40px

@media only screen and (max-width: 390px)
  .skillsPage
    display: flex
    
    left: 0px
    font-size: 35px
    padding: 20px
    text-align: center

  .skillsContent
    margin-top: 80px
    left: 100px
    position: absolute
    
  .skillsText
    position: absolute
    font-size: 26px
    line-height: 40px
    top: 200px
   

    
  .iconContainer
    top: 50px
    left: 0px
    
    
 

  