.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #faf9f6;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	min-height: 100vh;
}
body {
	background-color: #faf9f6;
	overflow-x: hidden;
}
.App.dark {
	background-color: #000;
	color: #fff;
}

.headerPage.dark {
	color: #fff;
}
